@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'AlfaSlabOne';
  src: url('../public/fonts/AlfaSlabOne-Regular.ttf');
}

@font-face {
  font-family: 'CourierPrime';
  src: url('../public/fonts/CourierPrime-Regular.ttf');
}

@font-face {
  font-family: 'CourierPrimeBold';
  src: url('../public/fonts/CourierPrime-Bold.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
